<%
  extra_classes ||= ""
  extra_attributes ||= ""
  type ||= "link"
  text ||= ""
  link ||= "#"
%>

<% if type === "link" %>
  <%= link_to text, link, :class => 'btn ' + extra_classes, :relative => true %>
<% else %>
  <button type="<%= type %>" class="btn <%= extra_classes %>" <%= extra_attributes %>>
    <%= text %>
  </button>
<% end %>
