<%
  extra_classes ||= ""
  overflow ||= 'true'
  contains ||= 'false'
  direction ||= 'right'
  reverse ||= 'false'
  image ||= ''
  title ||= ''
  text ||= ''
  button ||= ''
%>

<div class="slanted <%= extra_classes %>
  <% if(overflow == 'true') %> slanted--overflow <% else %> slanted--no-overflow <% end %>
  <% if(contains == 'true') %> slanted--contains <% else %> slanted--no-contains <% end %>
  <% if(direction == 'left') %> slanted--left <% else %> slanted--right <% end %>
  <% if(reverse == 'true') %> slanted--reversed <% end %>">
  <div class="container">
    <div class="row between-xs middle-xs <% if(reverse == 'true') %> reverse <% end %>">
      <div class="col-md-5 col-sm-6 col-xs-12">
        <img src="<%= image %>" alt="" class="slanted__image">
      </div>
      <div class="col-md-5 col-sm-6 col-xs-12">
        <div class="slanted__content">
          <p class="slanted__content__title"><%= title %></p>
          <p class="slanted__content__text"><%= text %></p>
          <%= partial("modules/button", :locals => {
            :extra_classes => 'slanted__content__button',
            :extra_attributes => '',
            :type => "link",
            :text => button[:text],
            :link => button[:link],
          }) %>
        </div>
      </div>
    </div>
  </div>
</div>
