<%
  extra_classes ||= ''
%>
<footer class="footer <%= extra_classes %>">

  <div class="container">
    <div class="row">
      <div class="col-sm-3 col-xs-12">
        <a href="#" class="footer__logo"><%= image_tag("content/HPVfoundation_LOGO_black.svg", :class => 'footer__logo__logo') %></a>
      </div>
      <div class="col-sm-3 col-xs-12">
        <p class="footer__title border-top">Company</p>
        <ul class="footer__nav">
          <li>
            <%= link_to 'Le Virus', '/virus.html', :relative => true %>
          </li>
          <li>
            <%= link_to 'Screening for HPV', '/screening.html', :relative => true %>
          </li>
          <li>
            <%= link_to 'The consequences', '/consequences.html', :relative => true %>
          </li>
          <li>
            <%= link_to 'Prevention', '/prevention.html', :relative => true %>
          </li>
          <li>
            <%= link_to 'Vaccination', '/vaccination.html', :relative => true %>
          </li>
          <li>
            <%= link_to 'What parents can do', '/parents.html', :relative => true %>
          </li>
        </ul>
      </div>
      <div class="col-sm-3 col-xs-12">
        <p class="footer__title">Legal</p>
        <ul class="footer__nav">
          <li>
            <a href="#">Terms  & Conditions</a>
          </li>
          <li>
            <a href="#">Privacy Policy</a>
          </li>
          <li>
            <a href="#">Cookies</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-3 col-xs-12">

        <p class="footer__title">LOREM IPSUM</p>
        <ul class="footer__nav">
          <li>
            © MSD Belgium SPRL Clos du Lynx, 5
            <br />
            1200 Bruxelles
          </li>
          <li>
            VACC-1205903-0061.
            <br />
            Date of last revision : 03/2018.
          </li>
        </ul>
      </div>
    </div>
  </div>

</footer>
