<%
  extra_classes ||= ''
%>
<header class="header <%= extra_classes %>">

  <div class="header--main">

    <div class="header__content">
      <button class="btn-menu-mobile">
        <span class="menu-bar"></span>
      </button>
      <div class="header__content__logo">
        <a href="/"><%= image_tag("content/HPVfoundation_LOGO_white.png", :class => 'header__content__logo__logo logo-white') %>
        <%= image_tag("content/HPVfoundation_LOGO_black.png", :class => 'header__content__logo__logo logo-black') %></a>
      </div>
      <nav class="header__content__nav">
        <ul>
          <li>
            <%= link_to 'Le Virus', '/virus.html', :relative => true %>
          </li>
          <li>
            <%= link_to 'Le Dépistage', '/screening.html', :relative => true %>
          </li>
          <li>
            <%= link_to 'Les Conséquences', '/consequences.html', :relative => true %>
          </li>
          <li>
            <%= link_to 'Protège-toi', '/prevention.html', :relative => true %>
          </li>
          <li>
            <%= link_to 'Vaccine-toi', '/vaccination.html', :relative => true %>
          </li>
          <li class="menu-lead">
            <%= link_to 'Je suis parent', '/parents.html', :relative => true %>
          </li>
        </ul>
      </nav>
    </div>

  </div>

</header>
