---
title: Proyect Index
layout: layout
---
<%= partial("shared/header", :locals => {
  :extra_classes => ''
}) %>

<div class="content__wrapper">

  <%= partial("modules/intro", :locals => {
    :extra_classes => '',
    :image => '/assets/images/content/home/intro.jpg',
    :title => 'Comment se protéger contre le<br />PAPILLOMAVIRUS?',
    :text => 'Découvrez tout ce qu\'il faut savoir sur la<br />prévention et le dépistage.',
    :button => {
      :text => 'Comment les parents peuvent-ils agir?',
      :link => '#'
    },
    :scroll => 'true',
    :social => 'true'
  }) %>

  <div class="content">
    <div class="container">
      <div class="row middle-xs">
        <div class="col-md-4 col-md-offset-1 col-sm-6 col-xs-12 hide-on-mobile">
          <img src="/assets/images/content/home/percentage.jpg" alt="">
          <br /><br />
          <p class="text text--primary text--tag text--center">de la population sexuellement active est un jour confrontée à une infection par l'HPV, dont la moitié entre 15 et 24 ans.</p>
        </div>
        <div class="col-md-5 col-md-offset-2 col-sm-6 col-xs-12">
          <p class="title">Qu'est-ce que le PAPILLOMAVIRUS?</p>
          <div class="text">
            <p>
              Les Papillomavirus humains (HPV) sont une famille de virus qui ont pour spécificité d’infecter la peau et les muqueuses.<br/>
            </p>
            <p>
              Il existe plus de 200 types d’HPV : ils peuvent toucher les organes génitaux internes et externes, la région anale, certaines parties de la peau ou encore la bouche, chez les femmes comme chez les hommes. On compte environ 20.000 nouveaux cas de verrues génitales et cancers liés a l'HPV par an en Belgique.
            </p>
            <br/>
            <%= partial("modules/button", :locals => {
              :extra_classes => 'btn--primary info__button',
              :extra_attributes => '',
              :type => "link",
              :text => 'en savoir plus',
              :link => '#',
            }) %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%= partial("modules/video", :locals => {
    :extra_classes => '',
    :extra_attributes => '',
    :video_id => "5C_gUic3cCo",
  }) %>

  <%= partial("modules/slanted", :locals => {
    :extra_classes => 'slanted--green',
    :overflow => 'false',
    :contains => 'true',
    :direction => 'right',
    :reverse => 'false',
    :image => '/assets/images/content/home/slant1.png',
    :title => 'Comment se faire dépister?',
    :text => '<p>Afin de dépister une infection par l’HPV, chez l’homme et chez la femme, il existe des tests qui consistent à rechercher l’ADN des virus HPV. Néanmoins, lorsque ce type de test est positif, cela ne signifi e pas qu’on est affecté d’une lésion précancéreuse</p><p>Ou d’un cancer!</p>',
    :button => {
      :text => 'En savoir plus',
      :link => '#'
    }
  }) %>

  <%= partial("modules/funnel", :locals => {
    :extra_classes => '',
    :reverse => 'false',
    :image => 'http://placehold.it/700x860',
    :title => 'Comment se protéger sachant que 4 personnes sur 5 sont infectées par le HPV?',
    :text => '<p>Le virus HPV se transmet par contact avec une peau infectée. Concrètement, cela signifie qu\'une contamination peut avoir lieu même s\'il n\'y a pas pénétration.</p>',
    :button => {
      :text => 'En savoir plus',
      :link => '#'
    }
  }) %>

  <%= partial("modules/slanted", :locals => {
    :extra_classes => 'slanted--purple',
    :overflow => 'false',
    :contains => 'false',
    :direction => 'left',
    :reverse => 'false',
    :image => '/assets/images/content/home/slant2.png',
    :title => 'Comment se protéger sachant que 4 personnes sur 5 sont infectées par le HPV?',
    :text => '<p>Le virus HPV se transmet par contact avec une peau infectée. Concrètement, cela signifie qu\'une contamination peut avoir lieu même s\'il n\'y a pas pénétration.</p>',
    :button => {
      :text => 'En savoir plus',
      :link => '#'
    }
  }) %>

  <%= partial("modules/funnel", :locals => {
    :extra_classes => '',
    :reverse => 'false',
    :image => 'http://placehold.it/700x860',
    :title => 'Se faire vacciner, comment faire?',
    :text => '<p>Vaccination ANTI-PAPILLOMAVIRUS : Une vaccination recommandée par les autorités de santé en fédération Wallonie-Bruxelles.</p>',
    :button => {
      :text => 'En savoir plus',
      :link => '#'
    }
  }) %>

  <%= partial("modules/slanted", :locals => {
    :extra_classes => 'slanted--green',
    :overflow => 'true',
    :contains => 'false',
    :direction => 'right',
    :reverse => 'false',
    :image => '/assets/images/content/home/slant3.png',
    :title => 'Agir en tant que parent?',
    :text => '<p>Si vos enfants n’ont pas été vaccinés par la médecine scolaire, il est important d’évoquer la vaccination avec eux et avec votre médecin. Protéger vos enfants et parlez-en dès aujourd\'hui. Ils méritent votre soutient face aux risques venant du papillomavirus.</p>',
    :button => {
      :text => 'En savoir plus',
      :link => '#'
    }
  }) %>

</div>
<%= partial("shared/footer", :locals => {
  :extra_classes => 'footer--special-top'
}) %>
