---
title: Proyect Index
layout: layout
---
<%= partial("shared/header", :locals => {
  :extra_classes => 'header--prueba-visible'
}) %>

<div class="content__wrapper">

  <br><br><br><br><br>
  <br><br><br><br><br>
  <br><br><br><br><br>
  <br><br><br><br><br>
  <br><br><br><br><br>

  <%= partial("modules/slanted", :locals => {
    :extra_classes => 'slanted--green',
    :overflow => 'false',
    :contains => 'true',
    :direction => 'right',
    :reverse => 'false',
    :image => 'http://placehold.it/400x500',
    :title => 'Comment se faire dépister?',
    :text => 'Afin de dépister une infection par l’HPV, chez l’homme et chez la femme, il existe des tests qui consistent à rechercher l’ADN des virus HPV. Néanmoins, lorsque ce type de test est positif, cela ne signifi e pas qu’on est affecté d’une lésion précancéreuse<br /><br />Ou d’un cancer!',
    :button => {
      :text => 'En savoir plus',
      :link => '#'
    }
  }) %>

  <%= partial("modules/funnel", :locals => {
    :extra_classes => '',
    :reverse => 'false',
    :image => 'http://placehold.it/700x860',
    :title => 'Quelles sont les conséquences pour les hommes et les femmes?',
    :text => 'Les risques liés à une infection par l’HPV varient selon le type d’HPV. Certaines infections à l’HPV se développent lentement et n’entraînent aucun symptôme visible.<br /><br />Une infection du papillomavirus peut avoir des conséquences graves. 1 personne sur 10 n\'arrive pas a éliminer l\'infection naturellement: le virus reste donc dans l\'organisme. Parmi les conséquences, le virus peut générer des verrues génitales ou des lésions précancéreuses, voire des cancers.',
    :button => {
      :text => 'En savoir plus',
      :link => '#'
    }
  }) %>

  <%= partial("modules/slanted", :locals => {
    :extra_classes => 'slanted--purple',
    :overflow => 'false',
    :contains => 'false',
    :direction => 'left',
    :reverse => 'false',
    :image => 'http://placehold.it/400x500',
    :title => 'Comment se protéger sachant que 4 personnes sur 5 sont infectées par le HPV?',
    :text => 'Le virus HPV se transmet par contact avec une peau infectée. Concrètement, cela signifie qu\'une contamination peut avoir lieu même s\'il n\'y a pas pénétration.',
    :button => {
      :text => 'En savoir plus',
      :link => '#'
    }
  }) %>

  <%= partial("modules/funnel", :locals => {
    :extra_classes => '',
    :reverse => 'false',
    :image => 'http://placehold.it/700x860',
    :title => 'Se faire vacciner, comment faire?',
    :text => 'Vaccination ANTI-PAPILLOMAVIRUS : Une vaccination recommandée par les autorités de santé en fédération Wallonie-Bruxelles.',
    :button => {
      :text => 'En savoir plus',
      :link => '#'
    }
  }) %>

  <%= partial("modules/slanted", :locals => {
    :extra_classes => 'slanted--green',
    :overflow => 'true',
    :contains => 'false',
    :direction => 'right',
    :reverse => 'false',
    :image => 'http://placehold.it/400x500',
    :title => 'Agir en tant que parent?',
    :text => 'Si vos enfants n’ont pas été vaccinés par la médecine scolaire, il est important d’évoquer la vaccination avec eux et avec votre médecin. Protéger vos enfants et parlez-en dès aujourd\'hui. Ils méritent votre soutient face aux risques venant du papillomavirus.',
    :button => {
      :text => 'En savoir plus',
      :link => '#'
    }
  }) %>

</div>
<%= partial("shared/footer") %>
