---
title: Proyect Index
layout: layout
---
<%= partial("shared/header", :locals => {
  :extra_classes => ''
}) %>

<div class="content__wrapper">

  <%= partial("modules/intro", :locals => {
    :extra_classes => 'intro--simplified',
    :image => 'http://placehold.it/1440x484',
    :title => 'Comment se protéger contre le<br />PAPILLOMAVIRUS?',
  }) %>

  <div class="content">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
          <div class="content__text text">
            <p>
              Les Papillomavirus humains (HPV) sont une famille de virus qui ont pour spécificité d’infecter la peau et les muqueuses.
            </p>
            <p>
              Il existe plus de 200 types d’HPV : ils peuvent toucher les organes génitaux internes et externes, la région anale, certaines parties de la peau ou encore la bouche, chez les femmes comme chez les hommes..
            </p>
            <p>
              Environ une douzaine de ces types d’HPV sont appelés à haut risque. Ils sont impliqués dans l’émergence de précurseurs de cancers, et même responsables de certains cancers, dont le plus fréquent est le cancer du col de l’utérus mais aussi d’autres cancers de la femme ou de l’homme.
            </p>
            <p>
              Dans quasi 90% des cas, l’infection par le virus HPV passe inaperçue mais pour certains types de virus, elle peut causer des maladies sévères et gênantes chez les hommes et les femmes.</>
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <img src="http://placehold.it/1160x320" alt="" class="content__image">
        </div>
      </div>
      <div class="row center-xs">
        <div class="col-md-5 col-sm-8 col-xs-11">
          <div class="content__text text text--dark text--tag">
            <p>
              Estimation du nombre moyen de nouveaux cas de cancers et de verrues génitales liés à l’HPV par an en Belgique.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%= partial("modules/slanted", :locals => {
    :extra_classes => 'slanted--green',
    :overflow => 'false',
    :contains => 'true',
    :direction => 'right',
    :reverse => 'false',
    :image => 'http://placehold.it/400x500',
    :title => 'Comment se faire dépister?',
    :text => '<p>Afin de dépister une infection par l’HPV, chez l’homme et chez la femme, il existe des tests qui consistent à rechercher l’ADN des virus HPV. Néanmoins, lorsque ce type de test est positif, cela ne signifi e pas qu’on est affecté d’une lésion précancéreuse</p><p>Ou d’un cancer!</p>',
    :button => {
      :text => 'En savoir plus',
      :link => '#'
    }
  }) %>

  <%= partial("modules/funnel", :locals => {
    :extra_classes => '',
    :reverse => 'false',
    :image => 'http://placehold.it/700x860',
    :title => 'Quelles sont les conséquences pour les hommes et les femmes?',
    :text => '<p>Les risques liés à une infection par l’HPV varient selon le type d’HPV. Certaines infections à l’HPV se développent lentement et n’entraînent aucun symptôme visible.</p><p>Une infection du papillomavirus peut avoir des conséquences graves. 1 personne sur 10 n\'arrive pas a éliminer l\'infection naturellement: le virus reste donc dans l\'organisme. Parmi les conséquences, le virus peut générer des verrues génitales ou des lésions précancéreuses, voire des cancers.<p>',
    :button => {
      :text => 'En savoir plus',
      :link => '#'
    }
  }) %>

  <%= partial("modules/slanted", :locals => {
    :extra_classes => 'slanted--purple',
    :overflow => 'false',
    :contains => 'false',
    :direction => 'left',
    :reverse => 'false',
    :image => 'http://placehold.it/400x500',
    :title => 'Comment se protéger sachant que 4 personnes sur 5 sont infectées par le HPV?',
    :text => '<p>Le virus HPV se transmet par contact avec une peau infectée. Concrètement, cela signifie qu\'une contamination peut avoir lieu même s\'il n\'y a pas pénétration.</p>',
    :button => {
      :text => 'En savoir plus',
      :link => '#'
    }
  }) %>

  <%= partial("modules/funnel", :locals => {
    :extra_classes => '',
    :reverse => 'false',
    :image => 'http://placehold.it/700x860',
    :title => 'Se faire vacciner, comment faire?',
    :text => '<p>Vaccination ANTI-PAPILLOMAVIRUS : Une vaccination recommandée par les autorités de santé en fédération Wallonie-Bruxelles.</p>',
    :button => {
      :text => 'En savoir plus',
      :link => '#'
    }
  }) %>

  <%= partial("modules/slanted", :locals => {
    :extra_classes => 'slanted--green',
    :overflow => 'true',
    :contains => 'false',
    :direction => 'right',
    :reverse => 'false',
    :image => 'http://placehold.it/400x500',
    :title => 'Agir en tant que parent?',
    :text => '<p>Si vos enfants n’ont pas été vaccinés par la médecine scolaire, il est important d’évoquer la vaccination avec eux et avec votre médecin. Protéger vos enfants et parlez-en dès aujourd\'hui. Ils méritent votre soutient face aux risques venant du papillomavirus.</p>',
    :button => {
      :text => 'En savoir plus',
      :link => '#'
    }
  }) %>

</div>
<%= partial("shared/footer", :locals => {
  :extra_classes => ''
}) %>
